@import "bulma/sass/utilities/mixins";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/sass/layout/section";

/* SCSS HEX */
$charcoal: #2b3c4eff;
$sunset: #ebc999ff;
$cinereous: #a29289ff;
$alice-blue: #ddebf8ff;
$cadet-gray: #8e9eaaff;


$primary: #76829a;
$primaryDark: darken($primary, 40);
$primaryDarkTrans: transparentize(darken($primary, 40), 0.1);
$primaryLight: lighten($primary, 25);

$side: 1rem;
$sideTablet: 1.5rem;
$sideDesktop: 3rem;
$sideWidescreen: 6rem;
$top: 3rem;

$family-primary: "Roboto", sans-serif;
$family-secondary: "PT Serif", Times, serif;

$primaryTextShadow: 2px 2px 1px rgba($primaryDark, 0.5);

.has-text-primary {
  //color: $primary !important;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $family-sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

a {
  &:link {
    color: $sunset;
    text-decoration: underline transparentize($sunset, 0.7) 1px;
  }
  &:visited {
    color: $sunset;
  }
  &:hover {
    color: $white;
  }
}

.logo {
  background: $primaryDark !important;
  padding: 0.75rem 1rem;

  span {
    color: $primary;
  }

  &:hover {
    color: $warning !important;
  }

  &:hover span {
    color: $danger !important;
  }

}

.navbar {
  padding: 1rem $side;

  @include tablet {
    padding: $top $sideTablet;
  }

  @include desktop {
    padding: $top $sideDesktop;
  }

  @include widescreen {
    padding: $top $sideWidescreen;
  }

  transition: 300ms ease;
  background: transparent !important;

  .navbar-end {
    padding: 0 0.75rem;
    background: $primaryDarkTrans;
  }

  .navbar-item {
    color: $white;
    text-decoration: underline dotted 1px transparentize($white, 0.4);
    &:link {
      text-decoration: underline dotted 1px transparentize($white, 0.4);
    }

    &:hover {
      color: $dark;
      background: $grey-lightest;
      text-decoration: none;
    }
  }
}

.navbar.nav-smaller {
  background: $primaryDark !important;
  padding: 1rem 2rem;
}

.phone {

  z-index: 100;
  font-size: 1.5rem;
  width: 100%;
  font-family: $family-secondary;
  margin-left: 1rem;

  .icon {
    margin-right: 0.5rem;
  }

  a {

    text-shadow: $primaryTextShadow;
    text-decoration: none;

    &:link, &:visited {
      color: white;
    }

    &:hover {
      color: $warning !important;
    }

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    height: 100%;
  }
}

.hero-line {
  display: flex;
  align-items: flex-start;

  padding: 8rem $side 0;

  @include tablet {
    padding: 16rem $sideTablet 0;
  }

  @include desktop {
    padding: 18rem $sideDesktop 0;
  }

  @include widescreen {
    padding: 22rem $sideWidescreen 0;
  }
}

.list-hero-social {

  font-size: 1rem;
  z-index: 100;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 60px;

  align-items: center;
  justify-content: flex-end;

  line-height: 1.0rem;

  padding: 0 1rem;
  margin-left: 2rem;


  @include tablet {
    //right: $sideTablet;
    font-size: 1.0rem;
  }
  @include desktop {
    font-size: 1.0rem;
    //right: $sideDesktop;
  }
  @include widescreen {
    font-size: 1.5rem;
    //right: $sideWidescreen;
  }

  .list-item {
    text-shadow: $primaryTextShadow;


    margin: 0 1rem;
    color: white !important;
    border-radius: 100rem;
  }

  .list-item:hover {
    color: $warning !important;
  }

}

.main-hero {
  position: relative;
  overflow: hidden;
  height: 95vh;
  max-height: 100vh;

  .hero-body2 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;

  }

  .title {
    font-size: 2rem;

    @include tablet {
      font-size: 4rem;
    }

    padding: 0.5rem 1rem;
    color: white;
    background: $primaryDark;
  }

  .subtitle {
    font-size: 0.75rem;
    line-height: 0.75rem;
    padding: 0 0.5rem 0.5rem;

    @include tablet {
      font-size: 1rem;
      line-height: 1rem;
      padding: 0.5rem 1rem 1rem;
    }

    color: $light;
    background: $primaryDark;
  }

}

.hero-logo-background {
  position: absolute;
  z-index: 1;
  font-size: 24rem;
  line-height: 24rem;

  left: 2rem;
  font-weight: bold;
  opacity: 0.4;
  bottom: 0;
  width: 200rem;
  color: transparent;
  text-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.5),
  0 0 5rem rgba(255, 255, 255, 0.7);

  &.front {
    z-index: -1;
    bottom: 15rem;
    font-size: 18rem;
    opacity: 0.6;
    text-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.6),
    0 0 4rem rgba(255, 255, 255, 0.8);
  }
}


#mainCarousel {

  pointer-events: none;

  .slide {
    pointer-events: none;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  background-color: var(--bulma-primary-20);
  z-index: -3;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.reviews {
  position: relative;
  top: 10rem;
  width: 30rem;
  max-height: 20rem;
  padding: 1rem 1.5rem;
  color: $primaryLight;
  background-color: transparentize($primaryDark, 0.3);

  transition: background-color 1000ms ease;

  @keyframes blink {
    0%, 100% {
      background-color: transparentize($primaryDark, 0.3);
    }
    20% {
      background-color: rgba(255, 255, 255, 0.5);
    }
    15% {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &:hover {
    animation: blink 0.4s normal;
    outline: 3px solid rgba(255, 255, 255, 0.5);
  }


  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5) inset;

  &:after {
    position: absolute;
    content: "Отзывы";
    left: 1.5rem;
    background: $primaryDark;
    font-size: 0.75rem;
    color: $primary;
    top: -0.5rem;
    line-height: 1rem;
    padding: 3px 5px;


  }

  @include tablet {

  }

  @include desktop {

  }

  @include widescreen {

  }

  .review {
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;

    & p:last-child {
      font-family: $family-secondary;
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    & p:first-child {
      text-align: right;
      font-size: 0.75rem;

      strong {
        color: $danger !important;
      }
    }
  }
}

@mixin sec {
  padding: 10px;
}

.divider {
  display: block;
  height: 0;
  background-color: $primaryDark;

  box-shadow: 0 2px 3px rgba($primaryDark, 0.4);

  position: relative;
  z-index: 2;

  &:before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 5;
    content: "";
    display: block;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px white;
  }
}

.black-section {

  @extend .section;
  background-color: $primaryDark;
  color: $primaryLight;
  padding: 0 $side 0;

  &:nth-child(even) {
    background-color: darken($primaryDark, 3);
  }

  h2 {
    font-family: $family-secondary;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    color: $primary;
  }

  @include tablet {
    padding: 0 $sideTablet;
  }

  @include desktop {
    padding: 0 $sideDesktop;
  }

  @include widescreen {
    padding: $sideWidescreen;
  }

  &.tomas {
    min-height: 20rem;
    background-image: url("/images/tomas-bg.jpg");
    background-color: $primaryDark;
    background-position: 44vw center;
    background-size: auto 100%;
    background-repeat: no-repeat;

    display: flex;
    gap: 2rem;

    h3, h4 {
      padding: 0;
      color: white;
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem;
      font-weight: bold;
    }

    h3:first-child, h4:first-child {
      margin-top: 0;
    }

    article {
      color: $primaryLight;
      max-width: 30rem;
    }

    .avatar {
      flex-shrink: 0;
    }
  }

}


.features {
  margin: 0;
  color: $primary;

  li {
    list-style: "—";
    margin-left: 1.75rem;
    padding-left: 1rem;
  }
}

.fa-ruble-sign {
  font-size: 1rem;
}

.pricing-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .pricing-plan {
    width: 18rem;
    height: 31rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    box-sizing: border-box;
    border: 2px solid $primaryLight;
    border-radius: 1rem;

    &:first-child {
      border-radius: 1rem 0 0 1rem;
      border-right: none;
    }

    &:last-child {
      border-radius: 0 1rem 1rem 0;
      border-left: none;
    }

    &:nth-child(2) {
      width: 19rem;
      height: 34rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      background: rgb(237, 49, 105);
      border: none;
      background: linear-gradient(180deg, rgba(237, 49, 105, 1) 0%, rgba(13, 20, 65, 1) 100%);
      box-shadow: 0 0 36px rgba(255, 255, 255, 0.1);
    }

    .plan-icon {
      display: none;
    }

    .plan-header {
      font-size: 1.75rem;
      font-weight: bold;
      color: white;
      text-align: center;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .plan-subheader {
      font-size: 0.8rem;
      text-align: center;
      align-self: center;
      margin: 0.25rem 0 1.25rem;
    }

    .plan-price {
      color: $sunset;
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: 0.75rem;
      margin-bottom: 1rem;
    }

    .plan-price-amount {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1rem;
    }

    .plan-items {
      flex-grow: 1;
      font-size: 0.9rem;

      .plan-item {
        text-align: center;

        strong {
          color: $sunset;
        }
      }
    }

    .plan-footer {
      flex-grow: 0;
      flex-shrink: 0;
      align-self: center;
      justify-self: flex-end;
    }


  }
}

.contacts {
  display: flex;
  gap: 2rem;

  .big-image {
    flex-shrink: 0;
    min-width: 25vw;
  }

  .item {
    font-size: 1.25rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon {
      flex-shrink: 0;
    }
  }
}