/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");
body {

    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.logo {
    background: var(--bulma-primary-dark) !important;
    padding: 0.75rem 1rem;
}

.navbar {
    padding: 3rem 6rem;
    transition: 300ms ease;
    background: transparent !important;
}
.navbar.nav-smaller {
    background: var(--bulma-primary-dark) !important;
    padding: 1rem 2rem;
}

.main-hero {

    position: relative;

    .hero-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .title {
        padding: 4px 8px;
        color: white;
        background: var(--bulma-primary-dark);
    }

    .subtitle {
        font-size: 1rem;
        padding: 4px 8px;
        color: var(--bulma-primary-40);
        background: var(--bulma-primary-dark);
    }
}

#mainCarousel {

    pointer-events: none;

    img {
        width: 100%;
        pointer-events: none;
    }
    div {
        pointer-events: none;
    }
    background-color: var(--bulma-primary-20);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}